@media (max-width: 1700px) {
  img{
    max-width: 100%;
  }
  .header{
    padding: 35px 0 24px;
  }
  .header__container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header__container-link {
    margin-right: 0;
  }
  .event__cards-card {
    max-width: 290px;
  }
  .event__cards-location {
    text-align: right;
    margin-bottom: 8px;
  }
  .event__cards-title {
    margin-bottom: 11px;
  }
  .project__container{
    gap: 23px;
  }
  .project {
    padding-bottom: 80px;
  }
  .project__link {
    padding: 26px;
  }
  .project__text {
    margin-bottom: 20px;
  }
  .event__cards{
    gap: 27px;
  }
  .border {
    min-height: 483px;
    padding: 14px 34px 49px 34px;
  }
  .header__nav {
    margin-right: 0;
  }
  .hero__container-title {
    margin-bottom: 20px;
  }
  .hero__container {
    max-width: 656px;
  }
  .hero {
    padding: 101px 0 68px 0;
    background-size: cover;
    height: 621px;
  }
  .hero__container-text {
    margin-bottom: 133px;
    max-width: none;
  }
  .about-us {
    padding-bottom: 71px;
  }
  .about-us__text {
    max-width: 925px;
  }
  .gallery__container {
    align-items: normal;
    flex-wrap: wrap;
  }
  .gallery {
    /* margin-bottom: 85px; */
    background-image: url(../img/gallery-back-1024.jpg);
    background-size: cover;
    padding: 85px 0 85px 0;
  }
  .gallery__title {
    margin-bottom: 28px;
  }
  .gallery__checkbox-container {
    margin-bottom: 14px;
  }
  .gallery__checkbox {
    margin-bottom: 30px;
  }
  .catalog__cards-card {
    flex-direction: column;
  }
  .catalog__cards-img {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .catalog__text {
    max-width: 925px;
  }
  .catalog__cards-title {
    margin-bottom: 15px;
  }
  .catalog__cards-date {
    margin-bottom: 16px;
  }
  .contact{
    padding: 42px 0 41px 0;
  }
  .contact__container {
    flex-direction: column;
  }
  .contact__title {
    margin-bottom: 4px;
  }
  .contact__subtitle {
    font-size: 14px;
  }
  .contact__container-block:first-child {
    margin-bottom: 23px;
  }
  .contact__form-input:first-child {
    margin-right: 21px;
  }
  .contact__form-input:nth-child(2) {
    margin-right: 20px;
  }
  .contact__form-input {
    width: 270px;
  }
  .contact__form-button {
    /* width: 340px; */
  }
  .contact__form {
    margin-bottom: 30px;
  }
  .footer__container-svg {
    width: 60px;
    height: 60px;
  }
  .footer__container {
    align-items: center;
  }
  .footer {
    padding: 40px 0;
  }
}
@media (max-width: 1280px){
  .header__container-link{
    order: -2;
    margin-bottom: 24px;
  }
  .header__menu-search{
    order: -1;
    align-content: baseline;
  }
  .header__nav{
    width: 100%;
    max-width: none;
    justify-content: center;
    overflow-y: hidden;
  }
  .header__menu-content:not(:last-child){
    margin-right: 80px;
  }
  .header__menu{
    flex-wrap: nowrap;
  }
  .contact__form-input{
    margin-bottom: 12px;
    /* width: 323px; */
  }
  .contact__form-button{
    /* width: 317px; */
    padding: 13px 39px;
  }
  .border{
    max-width: 668px;
  }
  .contact{
    padding-top: 46px;
    padding-bottom: 41px;
  }
  .contact__form {
    margin-bottom: 19px;
  }

}
@media (max-width: 1023px) {
  .event__cards-card {
    max-width: 700px;
  }
  .event__cards{
    gap: 30px
  }
  .event__cards {
    flex-direction: column;
  }
  .header__menu-content:not(:last-child) {
    margin-right: 44px;
  }
  .gallery{
    padding-bottom: 80px;
  }
  .gallery__pictures {
    gap: 50px;
    width: 100%;
  }
  .catalog {
    padding-top: 85px;
  }
  .project__container {
    gap: 31px;
  }
  .gallery__checkbox{
    margin-bottom: 37px;
  }
  .contact__form-input {
    width: 323px;
    margin-bottom: 12px;
  }
  .contact__form.flex > form > input:nth-child(2) {
    margin-right: 0;
  }
  .contact__form-button {
    /* width: 317px; */
    padding: 13px 26px;
  }
}
@media (max-width: 768px) {
  .project__link {
    max-width: 316px;
  }
  .contact{
    padding: 43px 0 48px 0;
  }
  .about-us{
    padding-bottom: 73px;
  }
  .header__nav::-webkit-scrollbar {
    display: none;
  }
  .event__cards-card {
    max-width: 668px;
  }
  .header__nav {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .hero {
    padding: 87px 0 82px 0;
  }
  .border{
    min-height: 328px;
  }
  .hero__container {
    max-width: 556px;
  }
  .gallery__checkbox {
    margin-bottom: 35px;
  }
  .gallery {
    padding-bottom: 91px;
  }
  .catalog__cards-date {
    margin-bottom: 7px;
  }
  .project__text {
    margin-bottom: 26px;
  }
  .project__subtitle {
    margin-bottom: 29px;
  }
  .project {
    padding-bottom: 83px;
  }
  .contact__form-input {
    padding-left: 24px;
  }
}
@media (max-width: 690px) {
  .hero {
    padding: 91px 0;
    /* margin-bottom: 50px; */
  }
  .about-us{
    padding-top: 50px;
  }
  .hero__container {
    text-align: center;
    position: relative;
  }
  .hero__container-title {
    /* margin-bottom: 10px; */
    font-size: 38px;
    line-height: 52px;
  }
  .hero__container-text {
    margin-bottom: 75px;
    font-size: 28px;
    font-weight: 400;
  }
  .title {
    font-size: 28px;
  }
  .gallery {
    padding: 50px 0;
  }
  .gallery__pictures {
    gap: 30px;
  }
  .project__container {
    gap: 12px;
  }
  .project__link {
    padding: 30px 64px;
  }
}
@media (max-width: 520px) {
  .hidden{
    display: none;
  }
  .container {
    padding: 0 15px;
  }
  .header__container-svg {
    width: 97px;
    height: 22px;
  }
  .header__menu-content-link {
    font-size: 12px;
    font-weight: 700;
  }
  .header__container-link {
    margin-bottom: 7px;
  }
  .header__menu-search-svg {
    width: 18px;
    height: 18px;
  }
  .header{
    padding: 16px 0 10px 0;
  }
  .header__menu-content:not(:last-child) {
    margin-right: 25px;
  }
  .hero {
    padding: 50px 0;
    height: auto;
    /* margin-bottom: 53px; */
  }
  .hero__container-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .hero__container-text {
    line-height: normal;
    margin-bottom: 54px;
    font-size: 12px;
    font-weight: 400;
  }
  .hero__container-btn {
    padding: 10px 16px;
    font-size: 12px;
  }

  .about-us__title {
    margin-bottom: 15px;
  }
  .about-us__text {
    font-size: 14px;
    line-height: 28px;
  }
  .about-us {
    padding: 53px 0 41px 0;
  }

  .gallery {
    padding: 53px 0 51px 0;
    /* margin-bottom: 53px; */
    background-image: url(../img/gallery-back-320.jpg);
  }
  .gallery__pictures{
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery__title {
    margin-bottom: 22px;
  }
  .catalog__title {
    margin-bottom: 15px;
  }
  .catalog__text {
    margin-bottom: 30px;
  }
  .catalog__cards-img {
    margin-bottom: 23px;
  }
  .catalog__cards-date {
    margin-bottom: 13px;
  }
  .catalog__cards-card:not(:last-child) {
    margin-bottom: 30px;
  }
  .catalog__cards-title {
    max-width: 286px;
  }
  .border {
    min-height: 483px;
  }
  .event {
    /* margin-bottom: 50px; */
    padding-bottom: 54px;
  }
  .project__title{
    margin-bottom: 15px;
  }
  .project__text {
    margin-bottom: 20px;
    max-width: 289px;
  }
  .project__subtitle {
    margin-bottom: 11px;
  }
  .project {
    padding-bottom: 50px;
    /* margin-bottom: 50px; */
  }
  .contact {
    border: none;
  }
  .contact__container {
    /* padding: 0; */
  }
  .contact__container-block:first-child {
    margin-bottom: 20px;
  }
  .contact__form-input {
    width: 290px;
  }
  .contact__form-button-text{
    display: none;
  }
  .contact__form-button-text-hidden{
    display: block;
  }
  form {
    max-width: 290px;
  }
  .contact__form {
    margin-bottom: 23px;
  }
  .contact {
    padding: 0;
    padding-bottom: 57px;
  }
  .catalog {
    padding: 53px 0 50px 0;
  }
  .event__title {
    margin-bottom: 15px;
  }
  .event__cards{
    gap: 19px;
  }
  .border {
    padding: 18px 13px 49px 22px;
  }
  .event__cards-location {
    margin-bottom: 13px;
  }
  .event__cards-card:not(:last-child) {
    /* margin-bottom: 20px; */
  }
  .project__subtitle {
    font-size: 18px;
  }
  .project__text {
    margin-bottom: 17px;
    /* font-size: 16px; */
  }
  .contact__link-svg {
    width: 50px;
    height: 50px;
  }
  .contact__title {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: -3px;
  }
  .contact__container-block:first-child {
    margin-bottom: 13px;
  }
  .contact__form-input:first-child {
    margin-right: 0;
  }
  .contact__form-input {
    padding: 5px 47px 1px 22px;
    margin-bottom: 20px;
  }
  h4.contact__title {
    margin-bottom: 9px;
    font-size: 17px;
  }
  .contact__form-button {
    padding: 10px 30px;
    /* width: auto; */
    font-size: 12px;
  }
  .footer {
    padding: 20px 0;
  }
  .footer__container {
    flex-direction: column-reverse;
  }
  .footer__container-svg {
    width: 50px;
    height: 50px;
  }
  .footer__container-logo {
    width: 97px;
    height: 22px;
  }
  .footer__container-links {
    margin-bottom: 17px;
  }
}
